<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="2" android:versionName="inicio" package="Blib.Droid">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
	<application android:label="Blib.Droid" android:theme="@style/MyTheme" android:icon="@drawable/BliB">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCVIGxfaq_z3K8Q9RnYjbM-dSMDZG9PLn4" />
	</application>
</manifest>